body {
  background-color:powderblue;
}

#parent {
  display: table;
}

#child {
  line-height: 50px;
  display: table-cell;
  vertical-align: middle;
  font-size: x-large;
}

#child {
  text-align: center;
}

h3 {
  line-height: 10px;
}
